{{define "about"}}
    <!doctype html>
    <html>
        <head>
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
            <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
            
        </head>
        <body>
            <div class="site mdl-layout mdl-js-layout">    
                {{if .LoggedIn}}       
                    {{template "authorized_header"}}
                {{else}}
                    {{template "unauthorized_header"}}
                {{end}}
                <main class="mdl-layout__content">
                    This is an About page
                </main>
                {{template "footer"}}
            </div>

        </body>
    </html>

{{end}}